.navbar {
    background-color: #1a1a1a;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.header_icon {
    color: #25b8ef;
}
/* img {
    width: 100px;
    height: 50px;
    justify-content: center;
    overflow: hidden;
    margin-top: -6px;
} */
.nav-menu {
    background: #1a1a1a;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 800ms;
}

.nav-menu.active {
    left: 0;
    transition: 250ms;
    position: fixed;
    z-index: 100;

}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 8px 8px 16px;
    height: 60px;
    list-style: none;
}

.nav-text a{
    text-decoration: none;
    color: #25b8ef;
    font-size: 18px;
    width: 150%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px rgba(5, 5, 10, 0.8), -1px -1px 2px 1px rgba(255, 255, 255, 0.2);
}
.nav-text a:hover {
    
    box-shadow: inset 1px 1px 2px 1px rgba(5, 5, 10, 0.8), inset -1px -1px 2px 1px rgba(255, 255, 255, 0.2);
}
.nav-menu-items {
    width: 100%;

}

.navbar-toggle {
    background-color: #1a1a1a;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
span {
    margin-left: 15px;
}