@media screen and (max-width: 800px) {
  .Container {
    flex-direction: column-reverse;
  }

  .Fields {
    justify-content: flex-start;
  }

  .Image {
    height: 100px;
    flex: none;
    box-shadow: none;
    object-fit: cover;
  }
}

@media screen and (max-width: 375px) {
  .Fields {
    padding: 10rem 10rem;
  }

  .Inputi {
    width: 95%;
  }
}

.main-conatiner {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 4rem 2rem 2rem;
  background-color: white;
}
.logo-image {
  text-align: center;
  justify-content: center;
}
